body{
    background:  linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0) 75%), url("../images/dashboard.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
}
/* start navigation */
ul.navClass{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    margin: 25px 50px;
}
li.logo {
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 24px;
}
.name{
    font-size: 15px;
}
li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}
.flexContainer{
    display: block;
}
.content{
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    min-height: 100vh;
    width: 80%;
    border-radius: 25px;
    margin: auto;
}
.list{
    padding: 0;
}
.listItem{
    display: flex;
    margin: 10px 0;
}
.listItem:hover >*{
    border: 1px solid white;
}
/* end navigation */
.today{
    margin-bottom: 10px;
    padding-left: 10px;
}
.monthYear{
    background-color: rgba(255,255,255,0.3);
    color: white;
    height: 30px;
    border: none;
    border-radius: 25px;
}
.date{
    padding: 10px 20px;
}
.date input::-webkit-outer-spin-button,
.date input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
.dateBtn{
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    height: 30px;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}
.dateBtn:hover{
    background-color: rgba(255,255,255,0.3);
}
.dateNum{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
    color: white;
}
.conSum{
    height: 30px;
    width: 80%;
    word-wrap: break-word;
    border-radius: 25px;
    padding-left: 10px;
    overflow: hidden;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    color: white;
}

@media (min-width: 700px){
    body{
        font-size: 21px;
    }
    li.logo {
        font-size: 48px;
    }
    .flexContainer{
        display: flex;
    }
    .dateCont{
        height: 60vh;
        width: 200px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .date{
        display: block;
    }
    .monthYear{
        display: block;
        height: 50px;
        padding-left: 10px;
    }
    .month{
        font-size: 28px;
        background-color: rgba(0,0,0,0.4);
        color: white;
        padding: 5px 40px;
        border-radius: 25px;
        margin-bottom: 0;
    }
    .dateBtn{
        margin-top: 10px;
        height: 50px;
        padding: 0 30px;
        font-size: 18px;
    }
    .content{
        padding: 30px;
        min-height: 100vh;
        min-width: 70vw;
        border-radius: 50px;
    }
    .dateNum{
        height: 50px;
        width: 50px;
    }
    .conSum{
        height: 50px;
        display: flex;
        flex: 1;
        align-items: center;
        margin-left: 10px;
        padding-left: 30px;
    }
    
}