body{
    background:  linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0) 75%), url("../images/dashboard.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
}
/* start navigation */
ul.navClass{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    margin: 25px 50px;
}
li.logo {
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 24px;
}
li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}
.flexContainer{
    margin: auto;
    width: 80%;
}
input{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans', sans-serif;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input:focus{
    outline: none;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
textarea{
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
}
textarea:focus{
    outline: none;
}
.date{
    color: white;
}
.summary{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 30px;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.content{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.save, .back{
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 25px;
}
.back{
    float: left;
}
.back:hover{
    border: none;
    background-color: blue;
}
.save{
    float: right;
}
.save:hover{
    border: none;
    background: green;
}

@media (min-width:700px){
    body{
        font-size: 21px;
    }
    li.logo {
        font-size: 48px;
    }
    .flexContainer{
        padding: 0 30px;
    }
    input{
        font-size: 21px;
    }
    textarea{
        font-size: 21px;
    }
    .date{
        height: 50px;
        padding-left: 20px;
    }
    .summary{
        height: 50px;
        padding-left: 20px;
        margin-top: 20px;
    }
    .content{
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .save, .back{
        padding: 10px 30px;
    }
}