body{
    background:  linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0) 75%), url('../images/home.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/* start navigation */
ul.navClass{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    margin-top: 25px;
    color: white;
    float: right;
    font-size: 12px;
}
li a {
    text-decoration: none;
    color: white;
    margin: 10px;
}
li.logo {
    margin-left: 25px;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 24px;
    float: left;
}
li.links:hover{
    border-bottom: 1px solid white;
}
/* end navigation */

.flexContainer{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.centerSign{
    text-align: center;
}
.quote{
    width: 100%;
    color: white;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
}

/* start sign up */
.sign{
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 80%;
    text-align: center;
    display: block;
    padding: 50px 0;
}
.mobileBtn{
    display: block;
    margin-top: 10px;
}
.signup{
    padding: 10px 20px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ccc;
    border-radius: 0 20px 20px 0;
}
.signup:hover{
    background: rgba(255, 255, 255, 0.3);
    color: #ccc;
}
.signin{
    padding: 10px 5px 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ccc;
    border-radius: 20px 0 0 20px;
}
.signin:hover{
    background: rgba(255, 255, 255, 0.3);
    color: #ccc;
}

.sign input{
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    height: 30px;
    width: 80%;
    margin: auto;
    border: none;
    border-bottom: 1px solid #999;
    background: transparent;
}
.sign input:focus{
    outline: none;
}
.sign input::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #ccc;
}
.sign button{
    background-color: transparent;
    color: #ccc;
    padding: 10px 0;
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid #999;
    border-radius: 20px;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.sign button:hover{
    background: rgba(255, 255, 255, 0.3);
    color: #ccc;
}
#in{
    padding: 20px 0;
}
#up{
    padding: 20px 0;
}
/* end signup */

/* special */
.hide{
    display: none;
}
.show{
    display: block;
    display: grid;
}
.activeBtn{
    background: rgba(255, 255, 255, 0.3);
    color: #ccc;
}



@media (min-width:700px){
    ul{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }
    li{
        font-size: 21px;
    }
    li.logo {
        font-size: 48px;
        flex: 1;
    }
    .flexContainer{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .quote{
        font-size: 36px;
    }
    .sign{
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.3);
        width: 400px;
        text-align: center;
        font-size: 21px;
        display: block;
        margin-left: 100px;
        padding: 50px 0;
    }
    .sign input{
        height: 50px;
        font-size: 21px;
    }
    .sign input::placeholder{
        font-size: 21px;
    }
    .sign button{
        background-color: transparent;
        margin-top: 20px;
        margin-left: 80px;
        font-size: 21px;
    }
    .signup{
        padding: 10px 20px 10px 5px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #ccc;
        border-radius: 0 20px 20px 0;
    }
    .signup:hover{
        background: rgba(255, 255, 255, 0.3);
        color: #ccc;
    }
    .signin{
        padding: 10px 5px 10px 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #ccc;
        border-radius: 20px 0 0 20px;
    }
    .signin:hover{
        background: rgba(255, 255, 255, 0.3);
        color: #ccc;
    }
    .mobileBtn{
        display: none;
    }
}