body{
    background:  linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0) 75%), url("../images/dashboard.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
}
/* start navigation */
ul.navClass{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    margin: 25px 50px;
}
li.logo {
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 24px;
}
li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}
.flexContainer{
    padding: 10px 10px 50px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}
.summary{
    background-color: rgba(0, 0, 0, 0.5);
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.content{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.edit, .back{
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 25px;
}
.back{
    float: left;
}
.back:hover{
    border: none;
    background-color: blue;
}
.edit{
    float: right;
}
.edit:hover{
    border: none;
    background: orange;
}

@media (min-width:700px){
    body{
        font-size: 21px;
    }
    li.logo {
        font-size: 48px;
    }
    .flexContainer{
        padding: 30px 30px 100px 30px;
        width: 80%;
        margin: auto;
    }
    .summary{
        height: 50px;
        padding-left: 20px;
        margin-top: 20px;
    }
    .content{
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .edit, .back{
        padding: 10px 30px;
    }
}